<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Senior Dashboard</title>
</head>
<body>
    <h2>Senior Dashboard</h2>
    <form action="/patient_detail" method="POST">
        <label for="patient_id">Patient ID:</label>
        <input type="text" name="patient_id" required>
        <button type="submit">Fetch Details</button>
    </form>

    <!-- <h3>Prescription</h3>
    <textarea name="prescription" rows="4" cols="50"></textarea> -->
    <a href="/logout">Logout</a>
</body>
</html>
